.header {
  background-color: #1074cc;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
}

.menu-burger {
  display: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-right: 15px;
  span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: white;
  }
}

.logo-container a {
  display: block;
  height: 56px;
}

.content {
  flex: 1 1 auto;
  display: flex;
  gap: 40px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.users-panel {
  display: flex;
  gap: 12px;
  align-items: center;
}

.user-avatar {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 13px;
    background-color: transparent;
    border: 1px solid #1074cc;
    right: -3px;
    bottom: -2px;
    border-radius: 2px;
    z-index: 2;
  }
}

@media (max-width: 420px) {
  .header {
    padding: 0 16px;
    gap: 4px;
  }

  .menu-burger {
    display: flex;
  }

  .user-actions {
    flex-direction: row-reverse;
    gap: 16px;
  }

  .users-panel {
    gap: 4px;
  }

  .user-avatar {
    display: none;
  }
}
