<nav>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="#">
        <img src="assets/icons/link.svg" alt="icon" class="nav-item__icon" />
        <p>Ссылки</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <img
          src="assets/icons/contacts.svg"
          alt="icon"
          class="nav-item__icon"
        />
        <p>Контакты</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <img src="assets/icons/tag.svg" alt="icon" class="nav-item__icon" />
        <p>Теги</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <img
          src="assets/icons/favorites.svg"
          alt="icon"
          class="nav-item__icon"
        />
        <p>Избранное</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <img src="assets/icons/history.svg" alt="icon" class="nav-item__icon" />
        <p>Посещения</p>
      </a>
    </li>
  </ul>
</nav>
